-- CreateEnum
CREATE TYPE "status" AS ENUM ('active', 'inactive', 'archived');

-- CreateEnum
CREATE TYPE "role_scope" AS ENUM ('system_admin', 'tenant_admin', 'general_user');

-- CreateEnum
CREATE TYPE "board_post_status" AS ENUM ('draft', 'pending', 'published', 'archived');

-- CreateEnum
CREATE TYPE "approval_action" AS ENUM ('approve', 'reconsider');

-- CreateEnum
CREATE TYPE "board_author_role" AS ENUM ('management', 'general');

-- CreateEnum
CREATE TYPE "announcement_target_mode" AS ENUM ('all', 'group', 'role', 'user');

-- CreateEnum
CREATE TYPE "fee_unit" AS ENUM ('day', 'hour');

-- CreateEnum
CREATE TYPE "facility_slot_status" AS ENUM ('active', 'inactive');

-- CreateEnum
CREATE TYPE "reservation_status" AS ENUM ('pending', 'confirmed', 'canceled');

-- CreateEnum
CREATE TYPE "reservation_history_event" AS ENUM ('created', 'confirmed', 'user_canceled', 'admin_canceled', 'changed');

-- CreateEnum
CREATE TYPE "moderation_decision" AS ENUM ('allow', 'mask', 'block');

-- CreateEnum
CREATE TYPE "decision_source" AS ENUM ('system', 'human');

-- CreateEnum
CREATE TYPE "shortcut_feature_key" AS ENUM ('home', 'board', 'facility', 'mypage', 'logout');

-- CreateEnum
CREATE TYPE "comment_status" AS ENUM ('active', 'deleted');

-- CreateTable
CREATE TABLE "tenants" (
    "id" TEXT NOT NULL,
    "tenant_code" TEXT NOT NULL,
    "tenant_name" TEXT NOT NULL,
    "timezone" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "status" "status" NOT NULL DEFAULT 'active',

    CONSTRAINT "tenants_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tenant_settings" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "config_json" JSONB NOT NULL,
    "default_language" TEXT NOT NULL DEFAULT 'ja',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "status" "status" NOT NULL DEFAULT 'active',

    CONSTRAINT "tenant_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "display_name" TEXT NOT NULL,
    "last_name" TEXT NOT NULL,
    "last_name_kana" TEXT,
    "first_name" TEXT NOT NULL,
    "first_name_kana" TEXT,
    "group_code" TEXT NOT NULL,
    "residence_code" TEXT NOT NULL,
    "phone_number" TEXT,
    "language" TEXT NOT NULL DEFAULT 'JA',
    "note" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_tenants" (
    "user_id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "board_last_seen_at" TIMESTAMP(3),

    CONSTRAINT "user_tenants_pkey" PRIMARY KEY ("user_id","tenant_id")
);

-- CreateTable
CREATE TABLE "user_roles" (
    "user_id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "role_id" TEXT NOT NULL,
    "assigned_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "user_roles_pkey" PRIMARY KEY ("user_id","tenant_id","role_id")
);

-- CreateTable
CREATE TABLE "roles" (
    "id" TEXT NOT NULL,
    "role_key" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "scope" "role_scope" NOT NULL,
    "permissions_ref" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "roles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "board_categories" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "category_key" TEXT NOT NULL,
    "category_name" TEXT NOT NULL,
    "display_order" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "status" "status" NOT NULL DEFAULT 'active',

    CONSTRAINT "board_categories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "board_posts" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "category_id" TEXT NOT NULL,
    "author_id" TEXT NOT NULL,
    "author_display_name" TEXT,
    "author_role" "board_author_role" NOT NULL DEFAULT 'general',
    "title" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "status" "board_post_status" NOT NULL DEFAULT 'draft',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "board_posts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "board_comments" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "post_id" TEXT NOT NULL,
    "author_id" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "parent_comment_id" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "status" "comment_status" NOT NULL DEFAULT 'active',
    "author_display_name" VARCHAR(100),

    CONSTRAINT "board_comments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "board_attachments" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "post_id" TEXT NOT NULL,
    "file_url" TEXT NOT NULL,
    "file_name" TEXT NOT NULL,
    "file_type" TEXT NOT NULL,
    "file_size" INTEGER NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "board_attachments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "board_approval_logs" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "post_id" TEXT NOT NULL,
    "approver_id" TEXT NOT NULL,
    "action" "approval_action" NOT NULL,
    "comment" TEXT NOT NULL,
    "acted_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "board_approval_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "board_favorites" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "post_id" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "board_favorites_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "facilities" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "facility_name" TEXT NOT NULL,
    "facility_type" TEXT NOT NULL,
    "description" TEXT,
    "parkingimage" BYTEA,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "facilities_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "facility_settings" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "facility_id" TEXT NOT NULL,
    "fee_per_day" DECIMAL(8,2),
    "fee_unit" "fee_unit" NOT NULL DEFAULT 'day',
    "max_consecutive_days" INTEGER NOT NULL DEFAULT 3,
    "reservable_until_months" INTEGER NOT NULL DEFAULT 1,
    "slot_duration_minutes" INTEGER NOT NULL DEFAULT 30,
    "min_reservation_minutes" INTEGER NOT NULL DEFAULT 120,
    "available_from_time" TEXT NOT NULL DEFAULT '09:00',
    "available_to_time" TEXT NOT NULL DEFAULT '19:00',
    "monthly_limit" INTEGER,
    "max_participants" INTEGER,
    "cancel_restriction_days" INTEGER NOT NULL DEFAULT 1,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "facility_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "facility_slots" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "facility_id" TEXT NOT NULL,
    "slot_key" TEXT NOT NULL,
    "slot_name" TEXT NOT NULL,
    "status" "facility_slot_status" NOT NULL DEFAULT 'active',
    "meta" JSONB,

    CONSTRAINT "facility_slots_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "facility_reservations" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "facility_id" TEXT NOT NULL,
    "slot_id" TEXT,
    "user_id" TEXT NOT NULL,
    "start_at" TIMESTAMP(3) NOT NULL,
    "end_at" TIMESTAMP(3) NOT NULL,
    "purpose" TEXT,
    "participant_count" INTEGER,
    "meta" JSONB,
    "status" "reservation_status" NOT NULL DEFAULT 'pending',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "facility_reservations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "reservation_history" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "reservation_id" TEXT NOT NULL,
    "facility_id" TEXT NOT NULL,
    "slot_id" TEXT,
    "user_id" TEXT NOT NULL,
    "actor_user_id" TEXT,
    "event_type" "reservation_history_event" NOT NULL,
    "from_status" "reservation_status",
    "to_status" "reservation_status",
    "occurred_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "note" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "reservation_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cleaning_duties" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "group_code" TEXT NOT NULL,
    "residence_code" TEXT NOT NULL,
    "cycle_no" INTEGER NOT NULL,
    "assignee_id" TEXT NOT NULL,
    "is_done" BOOLEAN NOT NULL DEFAULT false,
    "cleaned_on" TIMESTAMP(3),
    "completed_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "cleaning_duties_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "moderation_logs" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "content_type" TEXT NOT NULL,
    "content_id" TEXT NOT NULL,
    "ai_score" DECIMAL(5,2) NOT NULL,
    "flagged_reason" TEXT NOT NULL,
    "decision" "moderation_decision" NOT NULL DEFAULT 'allow',
    "decided_by" "decision_source" NOT NULL DEFAULT 'system',
    "decided_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "reviewed_by" TEXT,

    CONSTRAINT "moderation_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tenant_shortcut_menu" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "feature_key" "shortcut_feature_key" NOT NULL,
    "label_key" TEXT NOT NULL,
    "icon" TEXT NOT NULL,
    "display_order" INTEGER NOT NULL,
    "enabled" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "status" "status" NOT NULL DEFAULT 'active',

    CONSTRAINT "tenant_shortcut_menu_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "board_post_translations" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "post_id" TEXT NOT NULL,
    "lang" TEXT NOT NULL,
    "title" TEXT,
    "content" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "board_post_translations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "board_comment_translations" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "comment_id" TEXT NOT NULL,
    "lang" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "board_comment_translations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "static_translation_defaults" (
    "id" TEXT NOT NULL,
    "screen_id" TEXT NOT NULL,
    "screen_key" TEXT NOT NULL,
    "message_key" TEXT NOT NULL,
    "text_ja" TEXT NOT NULL,
    "text_en" TEXT NOT NULL,
    "text_zh" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "static_translation_defaults_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tenant_static_translations" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "screen_id" TEXT NOT NULL,
    "screen_key" TEXT NOT NULL,
    "message_key" TEXT NOT NULL,
    "text_ja" TEXT NOT NULL,
    "text_en" TEXT NOT NULL,
    "text_zh" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "status" "status" NOT NULL DEFAULT 'active',

    CONSTRAINT "tenant_static_translations_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "tenants_tenant_code_key" ON "tenants"("tenant_code");

-- CreateIndex
CREATE INDEX "tenant_settings_tenant_id_idx" ON "tenant_settings"("tenant_id");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "users_display_name_key" ON "users"("display_name");

-- CreateIndex
CREATE INDEX "users_tenant_id_idx" ON "users"("tenant_id");

-- CreateIndex
CREATE INDEX "user_tenants_tenant_id_idx" ON "user_tenants"("tenant_id");

-- CreateIndex
CREATE INDEX "user_roles_tenant_id_idx" ON "user_roles"("tenant_id");

-- CreateIndex
CREATE INDEX "user_roles_role_id_idx" ON "user_roles"("role_id");

-- CreateIndex
CREATE UNIQUE INDEX "roles_role_key_key" ON "roles"("role_key");

-- CreateIndex
CREATE UNIQUE INDEX "board_categories_tenant_id_category_key_key" ON "board_categories"("tenant_id", "category_key");

-- CreateIndex
CREATE INDEX "board_posts_tenant_id_idx" ON "board_posts"("tenant_id");

-- CreateIndex
CREATE INDEX "board_posts_category_id_idx" ON "board_posts"("category_id");

-- CreateIndex
CREATE INDEX "board_posts_author_id_idx" ON "board_posts"("author_id");

-- CreateIndex
CREATE INDEX "board_comments_tenant_id_idx" ON "board_comments"("tenant_id");

-- CreateIndex
CREATE INDEX "board_comments_post_id_idx" ON "board_comments"("post_id");

-- CreateIndex
CREATE INDEX "board_comments_author_id_idx" ON "board_comments"("author_id");

-- CreateIndex
CREATE INDEX "board_attachments_tenant_id_idx" ON "board_attachments"("tenant_id");

-- CreateIndex
CREATE INDEX "board_attachments_post_id_idx" ON "board_attachments"("post_id");

-- CreateIndex
CREATE INDEX "board_approval_logs_tenant_id_idx" ON "board_approval_logs"("tenant_id");

-- CreateIndex
CREATE INDEX "board_approval_logs_post_id_idx" ON "board_approval_logs"("post_id");

-- CreateIndex
CREATE INDEX "board_approval_logs_approver_id_idx" ON "board_approval_logs"("approver_id");

-- CreateIndex
CREATE INDEX "board_favorites_tenant_id_idx" ON "board_favorites"("tenant_id");

-- CreateIndex
CREATE INDEX "board_favorites_user_id_idx" ON "board_favorites"("user_id");

-- CreateIndex
CREATE INDEX "board_favorites_post_id_idx" ON "board_favorites"("post_id");

-- CreateIndex
CREATE UNIQUE INDEX "board_favorites_tenant_id_user_id_post_id_key" ON "board_favorites"("tenant_id", "user_id", "post_id");

-- CreateIndex
CREATE INDEX "facilities_tenant_id_idx" ON "facilities"("tenant_id");

-- CreateIndex
CREATE UNIQUE INDEX "facility_settings_facility_id_key" ON "facility_settings"("facility_id");

-- CreateIndex
CREATE INDEX "facility_settings_tenant_id_idx" ON "facility_settings"("tenant_id");

-- CreateIndex
CREATE INDEX "facility_slots_tenant_id_idx" ON "facility_slots"("tenant_id");

-- CreateIndex
CREATE INDEX "facility_slots_facility_id_idx" ON "facility_slots"("facility_id");

-- CreateIndex
CREATE INDEX "facility_reservations_tenant_id_idx" ON "facility_reservations"("tenant_id");

-- CreateIndex
CREATE INDEX "facility_reservations_facility_id_idx" ON "facility_reservations"("facility_id");

-- CreateIndex
CREATE INDEX "facility_reservations_slot_id_idx" ON "facility_reservations"("slot_id");

-- CreateIndex
CREATE INDEX "facility_reservations_user_id_idx" ON "facility_reservations"("user_id");

-- CreateIndex
CREATE INDEX "reservation_history_tenant_id_idx" ON "reservation_history"("tenant_id");

-- CreateIndex
CREATE INDEX "reservation_history_reservation_id_idx" ON "reservation_history"("reservation_id");

-- CreateIndex
CREATE INDEX "reservation_history_facility_id_idx" ON "reservation_history"("facility_id");

-- CreateIndex
CREATE INDEX "cleaning_duties_tenant_id_group_code_residence_code_idx" ON "cleaning_duties"("tenant_id", "group_code", "residence_code");

-- CreateIndex
CREATE INDEX "cleaning_duties_tenant_id_group_code_residence_code_cycle_n_idx" ON "cleaning_duties"("tenant_id", "group_code", "residence_code", "cycle_no");

-- CreateIndex
CREATE INDEX "moderation_logs_tenant_id_idx" ON "moderation_logs"("tenant_id");

-- CreateIndex
CREATE INDEX "moderation_logs_reviewed_by_idx" ON "moderation_logs"("reviewed_by");

-- CreateIndex
CREATE INDEX "tenant_shortcut_menu_tenant_id_display_order_idx" ON "tenant_shortcut_menu"("tenant_id", "display_order");

-- CreateIndex
CREATE UNIQUE INDEX "tenant_shortcut_menu_tenant_id_feature_key_key" ON "tenant_shortcut_menu"("tenant_id", "feature_key");

-- CreateIndex
CREATE INDEX "board_post_translations_tenant_id_lang_created_at_idx" ON "board_post_translations"("tenant_id", "lang", "created_at");

-- CreateIndex
CREATE UNIQUE INDEX "board_post_translations_post_id_lang_key" ON "board_post_translations"("post_id", "lang");

-- CreateIndex
CREATE INDEX "board_comment_translations_tenant_id_lang_created_at_idx" ON "board_comment_translations"("tenant_id", "lang", "created_at");

-- CreateIndex
CREATE UNIQUE INDEX "board_comment_translations_comment_id_lang_key" ON "board_comment_translations"("comment_id", "lang");

-- CreateIndex
CREATE UNIQUE INDEX "static_translation_defaults_screen_key_message_key_key" ON "static_translation_defaults"("screen_key", "message_key");

-- CreateIndex
CREATE INDEX "tenant_static_translations_tenant_id_idx" ON "tenant_static_translations"("tenant_id");

-- CreateIndex
CREATE UNIQUE INDEX "tenant_static_translations_tenant_id_screen_key_message_key_key" ON "tenant_static_translations"("tenant_id", "screen_key", "message_key");

-- AddForeignKey
ALTER TABLE "tenant_settings" ADD CONSTRAINT "tenant_settings_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "users_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_tenants" ADD CONSTRAINT "user_tenants_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_tenants" ADD CONSTRAINT "user_tenants_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_roles" ADD CONSTRAINT "user_roles_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_roles" ADD CONSTRAINT "user_roles_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_roles" ADD CONSTRAINT "user_roles_role_id_fkey" FOREIGN KEY ("role_id") REFERENCES "roles"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "board_categories" ADD CONSTRAINT "board_categories_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "board_posts" ADD CONSTRAINT "board_posts_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "board_posts" ADD CONSTRAINT "board_posts_author_id_fkey" FOREIGN KEY ("author_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "board_posts" ADD CONSTRAINT "board_posts_category_id_fkey" FOREIGN KEY ("category_id") REFERENCES "board_categories"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "board_comments" ADD CONSTRAINT "board_comments_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "board_comments" ADD CONSTRAINT "board_comments_post_id_fkey" FOREIGN KEY ("post_id") REFERENCES "board_posts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "board_comments" ADD CONSTRAINT "board_comments_author_id_fkey" FOREIGN KEY ("author_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "board_attachments" ADD CONSTRAINT "board_attachments_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "board_attachments" ADD CONSTRAINT "board_attachments_post_id_fkey" FOREIGN KEY ("post_id") REFERENCES "board_posts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "board_approval_logs" ADD CONSTRAINT "board_approval_logs_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "board_approval_logs" ADD CONSTRAINT "board_approval_logs_post_id_fkey" FOREIGN KEY ("post_id") REFERENCES "board_posts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "board_approval_logs" ADD CONSTRAINT "board_approval_logs_approver_id_fkey" FOREIGN KEY ("approver_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "board_favorites" ADD CONSTRAINT "board_favorites_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "board_favorites" ADD CONSTRAINT "board_favorites_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "board_favorites" ADD CONSTRAINT "board_favorites_post_id_fkey" FOREIGN KEY ("post_id") REFERENCES "board_posts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "facilities" ADD CONSTRAINT "facilities_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "facility_settings" ADD CONSTRAINT "facility_settings_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "facility_settings" ADD CONSTRAINT "facility_settings_facility_id_fkey" FOREIGN KEY ("facility_id") REFERENCES "facilities"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "facility_slots" ADD CONSTRAINT "facility_slots_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "facility_slots" ADD CONSTRAINT "facility_slots_facility_id_fkey" FOREIGN KEY ("facility_id") REFERENCES "facilities"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "facility_reservations" ADD CONSTRAINT "facility_reservations_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "facility_reservations" ADD CONSTRAINT "facility_reservations_facility_id_fkey" FOREIGN KEY ("facility_id") REFERENCES "facilities"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "facility_reservations" ADD CONSTRAINT "facility_reservations_slot_id_fkey" FOREIGN KEY ("slot_id") REFERENCES "facility_slots"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "facility_reservations" ADD CONSTRAINT "facility_reservations_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cleaning_duties" ADD CONSTRAINT "cleaning_duties_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cleaning_duties" ADD CONSTRAINT "cleaning_duties_assignee_id_fkey" FOREIGN KEY ("assignee_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "moderation_logs" ADD CONSTRAINT "moderation_logs_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "moderation_logs" ADD CONSTRAINT "moderation_logs_reviewed_by_fkey" FOREIGN KEY ("reviewed_by") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tenant_shortcut_menu" ADD CONSTRAINT "tenant_shortcut_menu_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "board_post_translations" ADD CONSTRAINT "board_post_translations_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "board_post_translations" ADD CONSTRAINT "board_post_translations_post_id_fkey" FOREIGN KEY ("post_id") REFERENCES "board_posts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "board_comment_translations" ADD CONSTRAINT "board_comment_translations_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "board_comment_translations" ADD CONSTRAINT "board_comment_translations_comment_id_fkey" FOREIGN KEY ("comment_id") REFERENCES "board_comments"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tenant_static_translations" ADD CONSTRAINT "tenant_static_translations_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

